@font-face {
  font-family: "Billy";
  src: url("../fonts/Billy-Regular.ttf");
}

@media (max-width: 576px) {
  .big-title {
    font-size: 5em;
    padding-top: 15%;
  }
}

@media (min-width: 576px) {
  .big-title {
    /*font-size: 7em;*/
    padding-top: 15%;
  }
}

@media (min-width: 768px) {
  .big-title {
    font-size: 9em;
    padding-top: 15%;
  }
}

@media (min-width: 992px) {
  .big-title {
    font-size: 9em;
    padding-top: 15%;
  }
}

